# Python Byte and so files
__pycache__/
*.py[cod]
*$py.class

# Local test files
check_scripts/

# Depnds on env meta files
.DS_Store
.idea

# Document HTML files
marquetry_docs/_build/
*.mo

# Distributions / packages
.Python
build/
develop-eggs/
dist/
artifacts/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Py Installer
*.manifest
*.spec

# installer log
pip-log.txt
pip-delete-this-directory.txt

# pyenvs
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
